* {
  margin: 0;
  font-family: Montserrat;
  padding: 0;
  box-sizing: border-box;
}
.main {
  margin: auto;
  padding: 10px;
}
/* navbar section */
.box {
  display: flex;
  margin: auto;
  width: 297px;
  height: 55px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.btn {
  background-color: #f2f2f200;
  border: none;
  margin: auto;
}
#loc,
#gues {
  border: none;
  width: 120px;
  padding: 0px 7px;
}
.box > div {
  width: -10px;
  height: 54px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f2f2;
  transform: rotate(180deg);
}
/* display none div or header section */
.edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #333333;
}
.upper {
  position: absolute;
  width: 100%;
  height: 632px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  display: none;
}
.header {
  margin: auto;
  width: 280px;
  height: 138px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 11px;
}
.third {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 560px;
  left: 30%;
  right: 30%;
  width: 100px;
}
.line-1 {
  width: -10px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f2f2;
  transform: rotate(180deg);
}
label {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 9px;
  line-height: 11px;
  color: #333333;
}
input {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 16px;
  margin: 3px 0px;
  border-radius: 1px;
  line-height: 18px;
  color: #333333;
  background-color: #f2f2f200;
}
input:focus {
  outline: none;
}
#location,
#guest {
  width: 260px;
  height: 30px;
  border: none;
}
#btn {
  width: 100px;
  height: 48px;
  background: #eb5757;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  display: flex;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  border: none;
}
/* upper section */
.stays {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.stays > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.stays > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}
/* data section and rooms div */
.maindiv {
  width: 100%;
  height: 260px;
}
/* image of interior rooms */
.image {
  border-radius: 12px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* below part if image and details of the room */
.subDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
/* button of the details */
.superHost {
  width: 80px;
  height: 22px;
  border: 1px solid #4f4f4f;
  border-radius: 10px;
  font-weight: bold;
  font-size: 10px;
  padding: 4px 0px;
  text-align: center;
  color: #4f4f4f;
}
/* type and number of beds and the rating part of the details */
.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
}
/* rating section */
.star {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}
/* title of the hotel room */
.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin: 5px 0px;
}

@media (min-width: 768px) {
  /* upper section */
  .main {
    margin: auto;
    margin: 20px;
  }
  /* navbar section */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box {
    display: flex;
    margin: 0%;
    width: 297px;
    height: 55px;
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  /* display none div or header section */
  .upper {
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    display: none;
  }
  .edit {
    display: none;
  }
  .header {
    position: absolute;
    width: 80%;
    height: 55px;
    left: 96px;
    display: flex;
    top: 93px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  .line-1,
  .line-2 {
    width: -10px;
    height: 54px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #f2f2f2;
    transform: rotate(180deg);
  }
  #location,
  #guest {
    width: 230px;
    height: 30px;
    border: none;
  }
  .third {
    width: 100px;
    position: absolute;
    top: 4px;
    left: 83%;
    right: 0%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  .stays {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;
  }
  .stays > h1 {
    font-size: 26px;
  }
  .stays > p {
    font-size: 20px;
  }
  #bedrooms {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 15px;
  }
  /* data section and rooms div */
  .maindiv {
    width: 100%;
    height: 280px;
  }
  /* image of interior rooms */
  .image {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  /* below part if image and details of the room */
  .subDiv {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    align-items: center;
    margin: 5px 0px;
  }
  /* button of the details */
  .superHost {
    width: 85px;
    height: 37px;
    font-size: 11px;
    border: 1px solid #4f4f4f;
    border-radius: 12px;
    padding-top: 12px;
  }
  /* type and number of beds and the rating part of the details */
  .text {
    font-size: 15px;
    line-height: 20px;
  }
  /* rating section */
  .star {
    font-size: 15px;
    line-height: 20px;
  }
  /* title of the hotel room */
  .title {
    font-size: 16px;
    line-height: 20px;
  }
}
